<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Sign up with Gramercy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: Avenir Next; font-weight: 300;">
  <tr>
   <td>
     <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
       <tr>
         <td align="center" bgcolor="#86C9D4" style="padding: 15px 0 12px 0;">
          <img src="https://s3-us-west-2.amazonaws.com/gramercy-app-prod/email-images/g-logo-off-white-m.png" alt="Gramercy" width="250" height="auto" style="display: block;" />
         </td>
       </tr>
       <tr>
         <td bgcolor="#DBDBDB" style="padding: 40px 30px 40px 30px;">
           <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FEFEFE" color="#777777" style= "border: solid 1px #979797; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;">
            <tr>
             <td bgcolor="#F4F4F4" style="padding: 15px; border-bottom: solid 1px #979797; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; text-align: center;">Get notified as brands start using Gramercy!
             </td>
            </tr>
            <tr>
             <td style="padding: 20px 30px 15px 30px;">
               We'll email you when brands start offering store credit in return for an Instagram.
               <br>
               Please double check that the Instagram you are authorizing is the account you post from, as this email address will be linked to only this Instagram account.
               <br>
             </td>
           </tr>
            <tr>
             <td style="font-weight: bold; color: #86c9d4; padding: 0 30px 0 30px; text-align: center;">
              <%= link_to "Authorize Instagram", "http://localhost:5000/shoppers/auth/instagram?email=#{@email}", style: "color: #86c9d4;" %>
             </td>
           </tr>
            <tr>
             <td style="padding: 20px 30px 15px 30px;">
              If you have any questions, please don't hesitate to respond to this email!
             </td>
            </tr>
           </table>
         </td>
       </tr>
       <tr>
         <td bgcolor="#86C9D4" style="padding: 10px 15px 10px 15px;">
           <table border="0" cellpadding="0" cellspacing="0" width="100%">
             <td width="75%" style="font-size: 12px;">
              <%= link_to "Privacy Policy", "http://www.gramercyapp.com/privacy_policy", style: "color: #DBDBDB!important;" %> |
              <%= link_to "Terms of Service", "http://www.gramercyapp.com/terms_of_service", style: "color: #DBDBDB;" %>
             </td>
             <td align="right">
              <table border="0" cellpadding="0" cellspacing="0">
               <tr>
                <td style="padding:0 0 0 10px;">
                 <a href="http://www.instagram.com/gramercy">
                  <img src="https://s3-us-west-2.amazonaws.com/gramercy-app-prod/email-images/instagram-email-icon.png" alt="Instagram" width="24" height="auto" style="display: block;" border="0" />
                 </a>
                </td>
                <td style="padding: 0 0 0 10px;">
                 <a href="http://www.twitter.com/gramercyapp">
                  <img src="https://s3-us-west-2.amazonaws.com/gramercy-app-prod/email-images/twitter-email-icon.png" alt="Twitter" width="24" height="auto" style="display: block;" border="0" />
                 </a>
                </td>
               </tr>
              </table>
             </td>
           </table>
         </td>
       </tr>
     </table>
   </td>
  </tr>
 </table>
</body>
</html>