<div>
	<section class="generic-section">
		<div class="text-area">
			<h1>Thanks for signging up with gramercy!</h1>
			<p>Head on over to your email to authorize your Instagram</p>
		</div>
	</section>
</div>