<div>
	<section class="generic-section">
		<div class="text-area">
			<h1>Thanks for signging up with gramercy!</h1>
			<p>details about using Gramercy... take a look at an example</p>
			<!-- @TODO -->
		</div>
	</section>
</div>