/* line 3, /Users/BrennerSpear/work/GramercyApp/app/assets/stylesheets/platforms.scss */
.platforms_page h1, .platforms_page h2, .platforms_page h3, .platforms_page h4 {
  text-align: center;
}
/* line 7, /Users/BrennerSpear/work/GramercyApp/app/assets/stylesheets/platforms.scss */
.platforms_page .divider {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 14, /Users/BrennerSpear/work/GramercyApp/app/assets/stylesheets/platforms.scss */
.platforms_page .text-area {
  max-width: 700px;
}
/* line 18, /Users/BrennerSpear/work/GramercyApp/app/assets/stylesheets/platforms.scss */
.platforms_page .row {
  text-align: center;
}
/* line 23, /Users/BrennerSpear/work/GramercyApp/app/assets/stylesheets/platforms.scss */
.platforms_page .future img {
  width: 200px;
}
/* line 28, /Users/BrennerSpear/work/GramercyApp/app/assets/stylesheets/platforms.scss */
.platforms_page .launch-first {
  max-width: 400px;
}

/* line 34, /Users/BrennerSpear/work/GramercyApp/app/assets/stylesheets/platforms.scss */
.available-section {
  margin-top: 50px;
}

/* line 38, /Users/BrennerSpear/work/GramercyApp/app/assets/stylesheets/platforms.scss */
.custom-section {
  margin-bottom: 50px;
}
