<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-picture-o fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge"><%= @posts.count %></div>
                    <div>Posts</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-camera-retro fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge"><%= @auth_shoppers.count %></div>
                    <div>Shoppers using Gramercy</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-heart-o fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge"><%= @total_likes %></div>
                    <div>Likes</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge"><%= @total_new_follows %></div>
                    <div>Followers Generated</div>
                </div>
            </div>
        </div>
    </div>
</div>