<% if @posts.empty? %>
    	<div class="col-xs-12">
    		<div class="text-center" style="margin-top: 40px">
        		<h2> No Instagram posts from shoppers to show! </h2>
        		<h4>(refreshing this page will fetch any recently posted Instagrams)</h4>
        	</div>
        </div>
<% end %>