<% if @posts.empty? %>
    	<div class="col-xs-12">
    		<div class="text-center" style="margin-top: 40px">
        		<h2> No Instagram posts from shoppers to show! </h2>
        	</div>
        </div>
<% end %>