
<%= stylesheet_link_tag "benefits", media: "all", "data-turbolinks-track" => true %>

<div class="benefits-page">

	<div class="divider-top"></div>

	<section class="title-section">
		<div class="text-area">

				<h1>Benefits</h1>
		</div>

	</section>

	<div class="divider-dark"></div>

	<section class="organic-section">
		<div class="text-area">
			<h3>Organic Marketing</h3>
			<h4>Who better to promote your brand?</h4>
			<p>There’s no one better suited to promote your brand that individuals that already pay money for your products. Their love for your brand is intrinsic.</p>
			<h4>Hyper-targeted audience</h4>
			<p>No more trying to figure out if your marketing will get in front of the eyes of the right people. There’s no better-targeted audience than the friends and followers of individuals that already buy your products.</p>
			<h4>Most trusted source</h4>
			<p>It’s generally accepted now that the next generation looks to social media rather than TV or billboards to get cues on what to buy. Consumers are now privvy to the fact that social media icons get paid in exchange for posts, too. Gramercy takes it a step further. There is nothing the social media generation’s buying habits are more influenced by than their friends and peers. </p>
			<h4>User-generated Content</h4>
			<p>Shoppers from all over the world will be posting your brand online. Your brand can use the best of these photos to promote on your own social media channels, or even collaborate with some of your most influencial shoppers.</p>

		</div>


	</section>

	<div class="divider"></div>

	</section>
	<section class="unique-section">
		<div class="text-area">
			<h3>Unique Payment Model</h3>
			<h4>Name your own price</h4>
			<p>With Gramercy, you as a brand decide how much you want to incentivize your shoppers to Instagram your products. </p>
			<h4>Performance-based</h4>
			<p>Some Instagram accounts have tens of thousands of followers, but have no real influence over their followers. By tracking likes and new followers generated, you can see who potential shoppers truly listen to, and in turn pay those that influence them accordingly.</p>

		</div>


	</section>

	<div class="divider"></div>

	</section>
	<section class="loyalty-section">
		<div class="text-area">
			<h3>Customer Loyalty</h3>
			<h4>Shopping with store credit</h4>
			<p>No one likes to leave money on the table, even if it’s only a little bit. Shoppers that have store credit - even $4.55 - will want to use it by coming back to your store.</p>
			<h4>Social association</h4>
			<p>When someone Instagrams a brand, that brand becomes part of their ‘digital self’ and social media persona. They will be more psychologically attached to your brand and will want to come back to shop again.  </p>

		</div>


	</section>

	<div class="divider"></div>

	</section>
	<section class="business-section">
		<div class="text-area">
			<h3>Business standpoint</h3>
			<h4>Low time investment</h4>
			<p>Unlike working with a PR firm or Infuencer Marketing Agency, you don’t have to hold meetings with your boss and schedule time to go over proposals. Once Gramercy is up, the only input it might need is tweaking the settings as you triangulate on the best rates to pay out to your shoppers.</p>
			<h4>Store credit, not cash</h4>
			<p>When you pay your shoppers, it’s with store credit, not cash! If they don’t use the credit, it’s as if you didn’t have to pay them at all!</p>
			<h4>Tracking</h4>
			<p>With Gramercy’s dashboard, you can see all relevant data in one place. You’ll be able to track exactly how many photos are posted, likes are generated, and new potential-shoppers follow your brand’s Instagram. And as time goes on, Gramercy’s dashboard will only get better.</p>

		</div>
		<br>
		<br>


	</section>

		<div class="divider-dark"></div>


		<section class="sign-up-section">

		<div class="text-area">
			<h4> Get notified when Gramercy goes live: </h4>
			<br>
			<%= render '/leads/form', submit_text: 'Sign up »' %>
		</div>

	</section>

	<div class="divider-light"></div>



</div>