<%= stylesheet_link_tag "thank_you", media: "all", "data-turbolinks-track" => true %>
<div>

	<div class="divider-top"></div>

	<section class="generic=-section">
		<div class="text-area">
			<h4>you denied our request to connect with your instagram, or you tried to use an email address that's already been taken.</h4>


		</div>
	</section>

	
</div>