<%= stylesheet_link_tag "thank_you", media: "all", "data-turbolinks-track" => true %>
<div>

	<div class="divider-top"></div>
	
	<section class="generic-section">
		<div class="text-area">
			<h4>We're sorry, you must have made a wrong turn...</h4>


		</div>
	</section>

	
</div>