<%= stylesheet_link_tag "faq", media: "all", "data-turbolinks-track" => true %>

<div>

	<div class="divider-top"></div>

	<section class="title-section">
		<div class="text-area">
			<h1>Frequently Asked Questions</h1>

		</div>
	</section>

	<div class="divider-dark"></div>
	<br>
	<br>
	<section class="faq-section">
		<div class="text-area">

			<div class="panel panel-default">
 				<div class="panel-heading"><h5>Can anyone tag our brand in an Instagram and get store credit?</h5></div>
  				<div class="panel-body">
    			Only shoppers that have purchased something from your online store may get credit for posting a picture. Once the transaction has occurred, they can post a picture whenever they want. However, you may set a time limit if you’d like. For instance, you could require that they post within 30, 60, or 90 days.
  				</div>
			</div>

			<div class="panel panel-default">
 				<div class="panel-heading"><h5>How many times can one our shoppers post a picture and get credit?</h5></div>
  				<div class="panel-body">
    			Shoppers can only get credit from one post per purchase from your online store.
  				</div>
			</div>

			<div class="panel panel-default">
 				<div class="panel-heading"><h5>What if someone buys likes on their picture?</h5></div>
  				<div class="panel-body">
    			Gramercy will automatically catch this two different ways: Accounts that seem fake (very few posts, no followers, etc) will not be counted. If a post gets a very unusual amount of likes in comparison to the account's previous posts, it will be flagged.
  				</div>
			</div>

			<div class="panel panel-default">
 				<div class="panel-heading"><h5>How long does the picture have to accumulate likes?</h5></div>
  				<div class="panel-body">
    			72 hours after a shopper posts the Instagram, we check how many likes the picture got and how many of their followers now follow you.
  				</div>
			</div>

			<div class="panel panel-default">
 				<div class="panel-heading"><h5>What if a shopper has a bunch of their friends follow, and then unfollow our Instagram?</h5></div>
  				<div class="panel-body">
    			New followers to your account are calculated 72 hours after an Instagram has been posted. Any account that follows and then unfollows you within that window will not be included in that count.
  				</div>
			</div>

			<div class="panel panel-default">
 				<div class="panel-heading"><h5>What if one of our products isn't even actually in the picture?</h5></div>
  				<div class="panel-body">
    			We suggest you reach out to your customer and ask if they meant to tag your brand even though none of your products were in the picture. You, as the brand, have full rights to revoke the store credit that has been awarded to one of your shoppers if you believe the photo or engagement is not in good faith. Gramercy’s fee will also be reimbursed. 
  				</div>
			</div>

			<div class="panel panel-default">
 				<div class="panel-heading"><h5>If we don't like the picture, can we revoke the coupon?</h5></div>
  				<div class="panel-body">
    			This should almost never be done, and when so, only with good reason. There are natural consequences that come with pissing off a customer that has spent money on your store and is voluntarily promoting your brand. But yes, you can if you want.
  				</div>
			</div>

			<div class="panel panel-default">
 				<div class="panel-heading"><h5>What are the minimums we can pay out in store credit to our shoppers?</h5></div>
  				<div class="panel-body">
    			At minimum, you must give 1¢ per like and $1 per new follower in store credit to the Instagrammer. We suggest setting your rates to 5¢ per like, and $5 per new follower in store credit. The higher your rates, the more inclined your shoppers will be to post.
  				</div>
			</div>

			<div class="panel panel-default">
 				<div class="panel-heading"><h5>What’s the maximum coupon that can be issued?</h5></div>
  				<div class="panel-body">
    			Each brand sets a maximum coupon amount that may be awarded per post. We require your maximum to be no less than $100. Having a low minimum will deter shoppers that receive lots of engagement from posting because they might hit your limit.
  				</div>
			</div>

			<div class="panel panel-default">
 				<div class="panel-heading"><h5>What is the fee collected by Gramercy?</h5></div>
  				<div class="panel-body">
    			Gramercy takes a fee of 20% of store credit given and with a minimum of 1¢ per like and $1 per new follower. So, if your brand only gives 2¢ per like and $2 per new follower in store credit to the Instagrammer, Gramercy’s fee is 1¢ per like and $1 per new follower. If your brand gives 10¢ per like and $10 per new follower, Gramercy’s fee is 2¢ per like and $2 per new follower (20% of 10¢ and $10, respectively). 
  				</div>
			</div>

			<div class="panel panel-default">
 				<div class="panel-heading"><h5>What if we want to increase the rates we pay out?</h5></div>
  				<div class="panel-body">
    			You may change the rates your brand pays out on your account’s settings page. If you increase your rate (for instance, 3¢ per like to 5¢ per like), all shoppers that had been previously offered a rate of 3¢ per like will now be given 5¢ per like if they choose to Instagram. You have the option to have Gramercy send an email to all shoppers with an outstanding offer letting them know your brand’s rates have increased (which may incentivize them to post) or you can not notify them and it can be a pleasant surprise if and when they Instagram. The same applies to if you extend the time period in which a shopper can Instagram for store credit.
  				</div>
			</div>

			<div class="panel panel-default">
 				<div class="panel-heading"><h5>What if we want to decrease the rates we pay out?</h5></div>
  				<div class="panel-body">
    			You may change the rates your brand pays out on the account’s settings page. If you decrease your rate (for instance, 5¢ per like to 3¢ per like), all shoppers that have been previously offered a rate of 5¢ per like will still be given 5¢ per like if they choose to Instagram. All future shoppers will be offered your new, lower rate. The same applies if you decrase the time period in which a shopper can Instagram for store credit.
  				</div>
			</div>

			<div class="panel panel-default">
 				<div class="panel-heading"><h5>How do I stop using Gramercy’s service?</h5></div>
  				<div class="panel-body">
    			In your profile settings, there is a deactivation page where you may terminate Gramercy’s services. This will remove the option for shoppers to authorize their Instagram with Gramercy on your checkout’s thank you page and emails will no longer be sent to shoppers offering them store credit in return for Instagramming. All shoppers that have an outstanding offer will recieve an email notifying them they still have 30 days to post an Instagram in return for store credit. Your brand will still issue store credit for the next 30 days. After the 30 days are up, there will be no more outstanding offers to shoppers and your contract with Gramercy will be terminated in totality.<br>If you uninstall the Gramercy app from your eccommerce platform before deactivating your brand’s account and giving your shoppers 30 days to recieve store credit in return for Instagramming, you will be violating our terms of service. We will be reluctantly required to email every shopper with an outstanding offer from your brand and let them know your brand has ended their contract with Gramercy in bad faith and their offer is no longer valid. We call this a lose-lose-lose situation. In this siutation your brand, your shoppers, and Gramercy all lose.
  				</div>
			</div>
			<br>
			<br>

		</div>
	</section>

	<div class="divider-dark"></div>

	<section class="sign-up-section">

		<div class="text-area">
			<h4> Get notified when Gramercy goes live: </h4>
			<%= render '/leads/form', submit_text: 'Sign up »' %>
		</div>

	</section>

	<div class="divider-light"></div>


</div>