<div>
	<div class="title-section">
		
		<div class="text-area">
			<%= image_tag "g-logo-off-white-xl", width: '600', height:'auto' %>
			<h3>Turn your shoppers into Brand Advocates</h3>
			<br>
			<%= render '/leads/form', submit_text: 'Get Started »' %>
		</div>

	</div>

</div>
