<div>

	<section class="generic-section">
		<div class="text-area">

			<h3>You must be looking for the login page</h3>
			<br>
			<p>Head over to your <%= link_to "Bigcommerce Dashboard", "https://login.bigcommerce.com/" %>. Go to 'Apps' then 'Gramercy' </p>
			<br>
			<p>If you're looking for Gramercy's home page, try <%= link_to "here", "http://gramercyapp.com", target: "_blank"%></p>

		</div>
	</section>


</div>
