<%= stylesheet_link_tag "payment_model", media: "all", "data-turbolinks-track" => true %>

<div class="payment_page">
	<div class="divider-top"></div>

	<section class="title-section">
		<div class="text-area">
			<h1>Name Your Own Price</h1>
			<h3>self-set performance-based pricing</h3>
		</div>
	</section>

	<div class="divider-dark"></div>

	<section class="customer-worth-section">
		<div class="text-area">
			<h3>How much is a new customer worth to you?</h3>
			<br>
			<p>With Gramercy, you set how much you pay your shoppers when they Instagram your brand. Some brands pay famous instagrammers by how many followers they have. This is an out-of-date metric. With Gramercy, you pay when someone engages with a photo of your brand or follows your brand’s Instagram.</p>
			<br>
			<p>As a brand, you set your rates in for the form of <strong>cents per like</strong> and <strong>dollars per new follower</strong> paid out in <strong>store credit</strong> to your shoppers. Gramercy handles everything from here - we notify your shoppers of your offer, track when they Instagram a photo and tag your brand, and send them a coupon with the right amout. Every month, Gramercy takes a 20% fee of the month’s total coupons issued (minimum of 1¢/like, $1/follower).</p>
		</div>
	</section>

	<div class="divider"></div>

	<section class="example-section">
		<div class="text-area">
			<h3>Let's look at an example</h3>
			<br>
			<p>@natasialutes got these shorts from Keliki.com. Let's say that Keliki offers 5¢/like and $5/new follower that follows @keliki_hawaii because of this picture. Natasia decides to post a picture:</p>
			<br>
			<div class="row">
				<div class="form-group col-md-4 text-center">
					<%= image_tag "instagram-example.jpg", class: "instagram-img" %>
				</div>

				<div class="from-group col-md-8 instagram-text">
					<p>Natasia’s post got <strong>425 likes</strong>. at <strong>5¢ per like</strong>, that adds up to $21.25 in store credit. @keliki_hawaii got <strong>2 new followers</strong> from Natasia’s post. at <strong>$5 per new follower</strong>, that adds up to $10 in store credit. In total, Natasia got <strong>$31.25 in store credit</strong>, enough to pay for part of her next pair of Keliki shorts!</p>
					<br>
					<p>Gramercy’s fee is <strong>20%</strong>.
					<br>20% x 5¢ = <strong>1¢ per like</strong>
					<br>20% x $5 = <strong>$1 per new follower</strong></p>
					<br>
					<p>At 1¢ per like, 425 likes is $4.25.
					<br>At $1 per new follower, 2 new followers is $2.00.</p>
					<br>
					<p>In total, Keliki pays Gramercy <strong>$6.25</strong> for the facilitation. These payments are billed monthly through your e-commerce platform - no need to give Gramercy your payment info.</p>
				</div>
			</div>
		</div>
	</section>

	<div class="divider"></div>

	<section class="details-section">
		<div class="text-area">
			<h3>A few details</h3>
			<br>
			<ul>
				<li>Only shoppers that have purchased something from your online store may get credit for posting a picture. Once the transaction has occurred, they can post a picture whenever they want. However, you may a time limit if you’d like. For instance, you could require that they post within 30, 90, or 365 days.</li>
				<li>72 hours after they post, we check how many likes the picture got and how many of their followers now follow you.</li>
				<li>Shoppers can only get credit once per purchase from your online store.</li>
				<li>You can set a maximum coupon amount that may be awarded per post. We require your maximum to be no less than $100. Having a low minimum will deter shoppers that receive lots of engagement from posting because they might hit your limit. </li>
				<li>You, as the brand, have full rights to revoke the store credit that has been awarded to one of your shoppers if you believe the photo or engagement is not in good faith. The fee to Gramercy will also be reimbursed. This should only be done with good reason and sparingly. There are natural consequences that come with pissing off a customer that has spent money on your store and is voluntarily promoting your brand.</li>
			</ul>

		</div>
	</section>

	<div class="divider-dark"></div>

	<section class="sign-up-section">

		<div class="text-area">
			<h4> Get notified when Gramercy goes live: </h4>
			<%= render '/leads/form', submit_text: 'Sign up »' %>
		</div>

	</section>

	<div class="divider-light"></div>






</div>