<%= stylesheet_link_tag "privacy_policy", media: "all", "data-turbolinks-track" => true %>

<div>

	<div class="divider-top"></div>

	<section class="title-section">
		<div class="text-area">
			<h1>Privacy Policy</h1>
			<h3>Posted: August 3, 2015</h3>
			<h3>Effective Date: August 3, 2015</h3>
		</div>
	</section>

	<div class="divider-dark"></div>
	<br>
	<br>

	<section class="privacy-policy-section">
		<div class="text-area">

			<h2>Gramercy App LLC Privacy Policy</h2>
			<p>The operators of Gramercyapp.com, Gramercy LLC (“Gramercy”, “we,“ “us” or “our”), are committed to protecting and respecting the privacy of users navigating http://Gramercyapp.com (the “Website”), or accessing any platforms, or applications (including mobile applications) made available by us (such platform and applications shall be collectively referred to as “Applications” and, together with the Website, shall be referred to as  “Our Products”). This Privacy Policy sets out the basis on which information that identifies you or is associated with you (“personal information”) that we collect from you will be used by us.  Please read the following carefully to understand our views and practices regarding your personal information and how we will treat it.
			<br><br>
			This Privacy Statement covers all of Gramercy. It does not, however, apply to entities that Gramercy does not own or control. By using or accessing Gramercy, or any websites owned or controlled by Gramercy, which include www.Gramercyapp.com, you consent to be bound by our policy. If you do not agree to these terms, please do not use Gramercy. Each time you use Gramercy, the current version of this policy applies. Accordingly, you should check the policy regularly and review any changes.</p>

			<h3>Information We May Collect</h3>

			<h4>Information we collect directly from you:</h4>
			<p>We collection information for you when you sign up for Gramercy and/or purchase/download the Gramercy App (“App”) from any eCommerce platform app store and/or authorize Gramercy to access your Instagram Account or through third party websites where we have a presence (“Third Party Websites”).  You give Gramercy permission to access your basic Profile information on Instagram as defined on the App’s Request Confirm page, such as your login information, name, email, followers/following, and media. You give Gramercy permission to access to all information you provide to a Third Party Website.</p>

			<h4>Examples of information we collect may include:</h4>
			<ul>
				<li>first name, last name</li>
				<li>physical mailing address</li>
				<li>home or business address</li>
				<li>telephone number (home, business, and/or mobile/cellular)</li>
				<li>e-mail address(es)</li>
				<li>approximate age/birth date (month/year)</li>
				<li>purchase information such as products and prices paid</li>
				<li>financial information such as payment details and your transactional history with us.</li>
			</ul>
			<p>Gramercy may keep track of the websites and pages our users visit within Gramercy, in order to determine what Gramercy services are the most popular. This data is used to deliver customized content and advertising within Gramercy to customers whose behavior indicates that they are interested in a particular subject area.
			<br><br>
			Information about your computer hardware and software may be automatically collected by Gramercy.This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Gramercy website. </p>

			<h3>Personal Information from Third Party Websites</h3>
			<p>We collect information on Third Party Websites.  These Third Party Websites consist of social networks, message boards, blogs and other sites where users publicly post comments, opinions and other content such as pictures, videos and links (“Content”).<br>
			Depending on the Third Party Website, the information that we are permitted to collect may be limited to just user name and Content.  However, the information can also include details such as profile picture, user name, user age or date of birth, gender, location, time zone; number of followers, friends or contacts and date, time and place content was uploaded.<br>
			Ultimately, the information that is collected by us will be dependent on what information has been made publicly available on the Third Party Website by a user of that site and the information the Third Party Website provides to us. <br>
			To avoid any confusion, users of Third Party Websites should understand that, while we own and operate the Website, we do not own or operate the Third Party Websites.   Please note, we are not responsible for the privacy practices of Third Party Websites and they are under no obligation to comply with this Privacy Policy. <br>
			Before visiting another website and before providing any information to the party that operates or advertises on that website, users should review the privacy policy and practices of the Third Party Website to determine how information that they collect from users will be handled.  We have no control over the use of any information by Third Party Websites, and users should exercise caution when deciding to disclose and publicly post any personal information. <br>
			We combine the public information provided to us by Third Party Websites to demonstrate to our clients and affiliates about the online choices and sentiments of a wide range of users regarding their products and services. <br>
			If we obtain your personal information via your public posts at Third Party Websites, you can request that we cease such processing of your personal information by contacting us at Admin@Gramercyapp.com
			<br> <br>
			BY CONNECTING YOUR GRAMERCY ACCOUNT TO YOUR THIRD PARTY ACCOUNT, YOU ACKNOWLEDGE AND AGREE THAT YOU ARE CONSENTING TO THE CONTINUOUS RELEASE OF INFORMATION ABOUT YOU TO OTHERS (IN ACCORDANCE WITH YOUR PRIVACY SETTINGS ON THOSE THIRD PARTY SITES). IF YOU DO NOT WANT INFORMATION ABOUT YOU, INCLUDING PERSONALLY IDENTIFYING INFORMATION, TO BE SHARED IN THIS MANNER, DO NOT USE THE THIS FEATURE. </p>

			<h3>Where We Store Your Personal Data</h3>
			<p>All information you provide to us is stored on our secure servers.    Where we have given you (or where you have chosen) a password which enables you to access certain parts of the Website or Applications, you are solely responsible for keeping this password confidential.   We have no control or responsibility for keeping information you hold secure. If the password has been stolen or might otherwise be subject to misuse, it is your responsibility to notify us immediately for further action. <br>We utilize industry standard security measures to protect the loss, misuse and alteration of the information we collect from unauthorized access, use, modification, destruction, or disclosure.  This includes, but is not limited to the use of firewalls and encryption.  Unfortunately, no transmission of information via the internet can be guaranteed as 100% secure by us.  For instance, we cannot guarantee protection against interception, misappropriation, misuse, or alteration, or that your information will not be disclosed or accessed by accidental circumstances or by the unauthorized acts of others.<br>Consequently, we do not and cannot guarantee or warrant the protection and security of any information you transmit to us on or through the Internet to the Website or any Application against loss, misuse or alteration and you are notified that this is done at your own risk.</p>

			<h3>Disclosure of Personal Information</h3>
			<p>We may disclose your personal information to any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries and the employees, agents, officers, directors and contractors of the foregoing entities.  These companies will only use your personal information in the same way as we can under this Privacy Policy. We may disclose your personal information to third parties:</p>
			<ul>
				<li>In the event that we sell or buy or transfer any business or assets (in part or whole), in which case we may disclose your personal information to the prospective seller, buyer or recipient of such business or assets.</li>
				<li>In order to respond to a subpoena, court order or other legal duty or obligation (including without limitations requests or demands from law enforcement and government authorities and regulators).</li>
				<li>In order to investigate, prevent, or take action regarding suspected or actual prohibited activities, including but not limited to, fraud and situations involving potential threats to the physical safety of any person or to prevent financial loss to any person or entity, including Gramercy, its customers, clients, and other parties.</li>
				<li>In order to enforce or apply our terms of Service  and other agreements.</li>
				<li>Business partners who offer a service to you jointly with us.</li>
			</ul>
			<p>Gramercy may also use your personally identifiable information to inform you of other products or services available from Gramercy and its affiliates. Gramercy may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.
			<br><br>
			Gramercy may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information (e-mail, name, address, telephone number) is transferred to the third party. Gramercy may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Gramercy, and they are required to maintain the confidentiality of your information.
			<br><br>
			Gramercy will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Gramercy or the site; (b) protect and defend the rights or property of Gramercy; and, (c) act under exigent circumstances to protect the personal safety of users of Gramercy, or the public. </p>

			<h3>Use of Cookies</h3>
			<p>The Gramercy website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
			<br><br>
			One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize Gramercy pages, or register with Gramercy site or services, a cookie helps Gramercy to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same Gramercy website, the information you previously provided can be retrieved, so you can easily use the Gramercy features that you customized.
			<br><br>
			You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Gramercy services or websites you visit. </p>

			<h3>Security of your Personal Information </h3>
			<p>To secure your personal information from unauthorized access, use or disclosure, Gramercy uses COMODO ECC
			<br><br>
			When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol. </p>

			<h3>Children’s Privacy Statement</h3>
			<p>Our Products are not intended for or directed to users under the age of 13.  Any User of Our Products expressly represents and warrants that they are 13 years of age or older.  We do not intentionally collect or store Personal Data from users under the age of thirteen (13).    If you have reason to believe that a child under 13 years of age has provided us with Personal Data, please contact us at Admin@Gramercyapp.com so that we can take steps to remove such information.</p>

			<h3>Changes to our Privacy Policy</h3>
			<p>Any changes we may make to our privacy policy in the future will be posted on this page. We reserve the right, at our discretion, to change, modify, add or remove portions of this Privacy Policy at any time.  If we change any portions of this Privacy Policy, the changes will be updated on this Privacy Policy page and users should periodically review our Privacy Policy page for any such changes.  Please further note, depending on a User’s particular interaction with us, different portions of this policy may apply to users at different times.</p>

			<h3>International Users</h3>
			<p>Our Products are all hosted in the United States. If you are User accessing Our Products Platform from Europe, Australia, Asia, or any other region with laws or regulations governing personal data collection, use, and disclosure, that differ from United States laws, please note that you are transferring your personal data to the United States which does not have the same data protection laws as such other regions. User Information collected on by Our Products may be stored and processed in the United States, and by using this Site, you consent to any such transfer of information outside of your home country.</p>

			<h3>Contact</h3>
			<p>Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to:</p>
			<%= link_to "Admin@GramercyApp.com", "mailto:admin@gramercyapp.com" %>

		</div>


	</section>

	<br><br>
	<div class="divider"></div>


</div>
