<%= stylesheet_link_tag "terms_of_service", media: "all", "data-turbolinks-track" => true %>

<div>

	<div class="divider-top"></div>

	<section class="title-section">
		<div class="text-area">
			<h1>Terms of Service</h1>
			<h3>Posted: August 3, 2015</h3>
			<h3>Effective Date: August 3, 2015</h3>
		</div>
	</section>

	<div class="divider-dark"></div>
	<br>
	<br>

	<section class="privacy-policy-section">
		<div class="text-area">

			<h2>Gramercy App LLC</h2>
			<p>The operators of Gramercyapp.com, Gramercy LLC (“Gramercy”, “we,“ “us” or “our”), are committed to protecting and respecting the privacy of users navigating http://Gramercyapp.com (the “Website”), or accessing any platforms, or applications (including mobile applications) made available by us (such platform and applications shall be collectively referred to as “Applications” and, together with the Website, shall be referred to as  “Our Products”). This Privacy Policy sets out the basis on which information that identifies you or is associated with you (“personal information”) that we collect from you will be used by us.  Please read the following carefully to understand our views and practices regarding your personal information and how we will treat it.
			<br><br>
			Gramercy may, in its sole discretion, modify or update this Agreement from time to time, and so you should review this page periodically. When we change this Agreement, we will update the ‘last revised’ date at the top of this page. Your continued use of the Service after any such change constitutes your acceptance of the new Terms of Service. If you do not agree to any of these terms or any future Terms of Service, do not use or access (or continue to access) the Service. This Agreement applies to all visitors, users, and others who access the Service ("Users").</p>
			
			<h3>Use of Our Service</h3>
			<p>Gramercy facilitates social media marketing between consumers and businesses.</p>

			<h3>Brand Accounts</h3>
			<p>You need to register with Gramercy and create an account. You may never use another User’s account without permission. When creating your account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account and you must keep your account password secure. You must notify Gramercy immediately of any breach of security or unauthorized use of your account. Gramercy will not be liable for any losses caused by any unauthorized use of your account. By providing Gramercy your email address you consent to our using the email address to send you Service-related notices, including any notices required by law, in lieu of communication by postal mail. Gramercy and its associates reserve the right to refuse or cancel service, terminate accounts, or remove or edit content in our sole discretion. Gramercy does not knowingly collect, either online or offline, personal information from persons under the age of thirteen. If you are under 18, you may use Gramercy only with permission of a parent or guardian.
			<br><br>
			When you register your Brand’s account with Gramercy, you will be asked to connect your Gramercy Account to third party services or applications including, but not limited to: Instagram, and your eCommerce platform or website and checkout/shopping cart module. When you authorize the Gramercy App on your Brand’s Instagram account, you are agreeing to give Gramercy unfettered access to all data associated with the Instagram account, as outlined by the terms accepted during the process of authorizing the Instagram account.  When you authorize the Gramercy App on your Brand’s website via a custom integration or through your eCommerce platform, you are agreeing to give Gramercy unfettered access to all data associated with the website account, as outlined by the terms accepted during the process of installing the Gramercy app onto your eCommerce account or customer website.
			<br><br>
			To begin using Gramercy’s service, in addition to connecting your Brand’s Instagram Account and Website to Gramercy, you must set the store credit rates and parameters your brand will send to a shopper when they make a purchase on your Brand’s website. These rates and parameters may be changed at anytime, however, this does not negate or alter the binding offers your brand had sent to shoppers that had made a purchase previous to the change in rate or parameters. </p>


			<h3>Shopper Accounts</h3>
			<p>To register a shopper account, you must authorize your Instagram with Gramercy. You are solely responsible for the activity that occurs on your Instagram account and you must keep your Instagram account password secure. You must notify Gramercy immediately of any breach of security or unauthorized use of your Instagram account. By authorizing your Instagram with Gramercy,  you consent to our using the email address you use with any Brand that uses Gramercy’s services to send you Service-related notices, including any notices required by law, in lieu of communication by postal mail. Gramercy and its associates reserve the right to refuse or cancel service, terminate accounts, or remove or edit content in our sole discretion. Gramercy does not knowingly collect, either online or offline, personal information from persons under the age of thirteen. If you are under 18, you may use Gramercy only with permission of a parent or guardian.
			<br> <br>
			You hereby represent and warrant that you have obtained all necessary rights, releases and permissions to use the image(s) in your Instagram posts in connection with an Offer from a Brand using Gramercy.</p>

			<h3>Gramercy offers</h3>
			<p>When a shopper makes a purchase, an offer will be sent to them on behalf of your Brand. The offer is valid for the next Instagram post in which the shopper tags or @mentions the brand’s official Instagram account, from the Shopper’s associated Instagram account (“Post”). The shopper will be informed of the details  using your currently set rates and parameters. The offer will include the following terms: (a) Dollar amount awarded in store credit to the Shopper to the Brand’s online store per “like” on the Shopper’s Post; (b) Dollar amount awarded in store credit to the Shopper to the Brand’s online store per follower generated to the Brand’s Instagram account from the Shopper’s Post; (c) The maximum store credit offered in dollar amount for the Shopper’s post; (d) The amount of time in days the offer is good for.
			<br><br>
			Gramercy does nothing more than notify the Shopper of the Offer, facilitate the offer, notify the Brand of the coupon amount earned from the Offer, and send the coupon to the Shopper.</p>

			<h3>DISPUTES AND REVERSALS</h3>
			<p>If you believe that a problematic transaction has taken place in connection with an offer to a shopper, you agree to notify us immediately, so that we may take action to prevent financial loss. To the fullest extent permitted by law, you waive all claims against us related to payments unless you submit the claim to us within 30 days of your claim having arisen. We may intervene in disputes between you and Shoppers concerning payments but have no obligation to do so.</p>
			

			<h3>Privacy</h3>
			<p>Your use of Gramercy is subject to Gramercy's Privacy Policy. Please review our Privacy Policy, which also governs the Site and informs users of our data collection practices.</p>

			<h3>Electronic Communications </h3>
			<p>Visiting Gramercy or sending emails to Gramercy constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communications be in writing.</p>

			<h3>Cancellation/Refund Policy</h3>
			<p>You, as the brand, may be eligible to revoke the store credit that has been awarded to one of your shoppers if you believe the photo or engagement is not in good faith. The fee to Gramercy may also be reimbursed. This should only be done with good reason and sparingly. There are natural consequences that come with pissing off a customer that has spent money on your store and is voluntarily promoting your brand.
			<br><br>
			If you, as a Brand, wish to stop using Gramercy’s services, you must do so via your Gramercy profile settings on the deactivation page. Deactivation will stop any and all future Offers from being sent to your Brand’s shoppers. All outstanding Offers that have been extended to Shoppers will still stand, and will not be voided. You, as a Brand, have an obligation to uphold these Offers by letting Gramercy facilitate the outstanding Offers. Your brand must continue to give Gramercy unfettered access to your official Instagram account and website via whatever method is being used to track shopping carts and generate coupons. Disconnecting either account from Gramercy before all outstanding Offers have expired is a violation of Gramercy’s Terms of Service and legal action against to you to the full extent of the law.</p>

			<h3>Links to third party sites/Third party services </h3>
			<p>Gramercy may contain links to other websites ("Linked Sites"). The Linked Sites are not under the control of Gramercy and Gramercy is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. Gramercy is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Gramercy of the site or any association with its operators. 
			<br><br>
			Certain services made available via Gramercy are delivered by third party sites and organization. By using any product, service or functionality originating from the Gramercy domain, you hereby acknowledge and consent that Gramercy may share such information and data with any third party with whom Gramercy has a contractual relationship to provide the requested product, service or functionality on behalf of Gramercy users and customers. </p>

			<h3>No unlawful or prohibited use/Intellectual Property </h3>
			<p>You are granted a non-exclusive, non-transferable, revocable license to access and use Gramercy strictly in accordance with these Terms of Service. As a condition of your use of the Site, you warrant to Gramercy that you will not use the Site for any purpose that is unlawful or prohibited by these Terms. You may not use the Site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party's use and enjoyment of the Site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Site. </p>
			<br><br>
			<p>All content included as part of the Service, such as text, graphics, logos, images, as well as the compilation thereof, and any software used on the Site, is the property of Gramercy or its suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto. </p>
			<br><br>
			<p>You will not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on the Site. Gramercy content is not for resale. Your use of the Site does not entitle you to make any unauthorized use of any protected content, and in particular you will not delete or alter any proprietary rights or attribution notices in any content. You will use protected content solely for your personal use, and will make no other use of the content without the express written permission of Gramercy and the copyright owner. You agree that you do not acquire any ownership rights in any protected content. We do not grant you any licenses, express or implied, to the intellectual property of Gramercy or our licensors except as expressly authorized by these Terms.</p>


			<h3>Third Party Accounts</h3>
			<p>You will be able to connect your Gramercy account to third party accounts. By connecting your Gramercy account to your third party account, you acknowledge and agree that you are consenting to the continuous release of information about you to others (in accordance with your privacy settings on those third party sites). If you do not want information about you to be shared in this manner, do not use this feature. </p>

			<h3>International Users </h3>
			<p>The Service is controlled, operated and administered by Gramercy from our offices within the USA. If you access the Service from a location outside the USA, you are responsible for compliance with all local laws. You agree that you will not use the Gramercy Content accessed through Gramercy in any country or in any manner prohibited by any applicable laws, restrictions or regulations. </p>

			<h3>Indemnification</h3>
			<p>You agree to indemnify, defend and hold harmless Gramercy, its officers, directors, employees, agents and third parties, for any losses, costs, liabilities and expenses (including reasonable attorneys' fees) relating to or arising out of your use of or inability to use the Site or services, any user postings made by you, your violation of any terms of this Agreement or your violation of any rights of a third party, or your violation of any applicable laws, rules or regulations. Gramercy reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with Gramercy in asserting any available defenses.</p>

			<h3>Free Services</h3>
			<p>If you receive a beta release product (“Beta Release”), then you may use the Beta Release in accordance with the terms of this Agreement for the period designated in the order form or otherwise by Gramercy. Gramercy may terminate or immediately suspend your Gramercy may revoke your right to use any Beta Release and any related services at any time without liability and does not guarantee that future versions of a Beta Release will be made available under the same commercial or other terms. You acknowledge your Beta Release may not be complete or fully functional and may contain bugs, errors, omissions and other problems. NOTWITHSTANDING ANYTHING IN THIS AGREEMENT TO THE CONTRARY, GRAMERCY WILL HAVE NO WARRANTY, INDEMNITY OR SUPPORT OBLIGATIONS WITH RESPECT TO BETA RELEASES.</p>

			<h3>Liability disclaimer</h3>
			<p>THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. GRAMERCY LLC AND/OR ITS SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE SITE AT ANY TIME.</p>
			<br><br>
			<p>GRAMERCY APP LLC AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED ON THE SITE FOR ANY PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF ANY KIND. GRAMERCY LLC AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. </p>
			<br><br>
			<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL GRAMERCY LLC AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE, WITH THE DELAY OR INABILITY TO USE THE SITE OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE SITE, OR OTHERWISE ARISING OUT OF THE USE OF THE SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF GRAMERCY LLC OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SITE, OR WITH ANY OF THESE TERMS OF SERVICE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE. </p>

			<h3>Termination/access restriction </h3>
			<p>Gramercy reserves the right, in its sole discretion, to terminate your access to the Site and the related services or any portion thereof at any time, without notice. To the maximum extent permitted by law, this agreement is governed by the laws of the State of Oregon and you hereby consent to the exclusive jurisdiction and venue of courts in Oregon in all disputes arising out of or relating to the use of the Site. Use of the Site is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms, including, without limitation, this section. </p>
			<br><br>
			<p>You agree that no joint venture, partnership, employment, or agency relationship exists between you and Gramercy as a result of this agreement or use of the Site. Gramercy's performance of this agreement is subject to existing laws and legal process, and nothing contained in this agreement is in derogation of Gramercy's right to comply with governmental, court and law enforcement requests or requirements relating to your use of the Site or information provided to or gathered by Gramercy with respect to such use. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect. </p>
			<br><br>
			<p>Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and Gramercy with respect to the Site and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and Gramercy with respect to the Site. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent an d subject to the same conditions as other business documents and records originally generated and maintained in printed form. It is the express wish to the parties that this agreement and all related documents be written in English.</p>

			<h3>Changes to Terms</h3>
			<p>Gramercy reserves the right, in its sole discretion, to change the Terms under which Gramercy is offered. The most current version of the Terms will supersede all previous versions. Gramercy encourages you to periodically review the Terms to stay informed of our updates. </p>


			<h3>Contact</h3>
			<p>Questions, comments and requests regarding these Terms of Service are welcomed and should be addressed to:</p>
			<%= link_to "Admin@GramercyApp.com", "mailto:admin@gramercyapp.com" %>

		</div>


	</section>

	<br><br>
	<div class="divider"></div>


</div>
