<%= stylesheet_link_tag "thank_you_authorized_shopper", media: "all", "data-turbolinks-track" => true %>
<div>

	<div class="divider-top"></div>

	<section class="generic-section">
		<div class="text-area">
			<h1>Thanks for signging up with gramercy!</h1>
			<p>details about using Gramercy... take a look at an example</p>
		</div>
	</section>

	
</div>