<%= stylesheet_link_tag "thank_you", media: "all", "data-turbolinks-track" => true %>
<div>

	<div class="divider-top"></div>

	<section class="thank_you_section">
		<div class="text-area">
			<h1>Thank You for your interest!</h1>
			<h4>We will contact you when Gramercy is your platform's app store</h4>
			<h4>Have you checked out how our <%= link_to "Payment Model", payment_model_path %> works yet?


		</div>
	</section>

	
</div>