/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree
 *= require_self
 */

$gramercy-color: #86C9D4;

.main {
	background-color: #F4F4F4;
}

.gramercy-color {
	color: $gramercy-color;
}

.gramercy-bg-color {
	background-color: $gramercy-color;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

h1, h2, h3, h4, p {
	color: #777777;
}

a {
	color: #777777;
}

/* DEVISE PAGES */

.log-in {
	border-style: solid;
	background-color: #FEFEFE;
}

.devise-box {
	margin-top: 45px;
}



/*WEB PAGES*/


.text-area {
	max-width: 900px;
	margin: 0 auto;

}

.divider {
	width: 100%;
	height: 3px;
	background-color: $gramercy-color;
}

.divider-dark {
	width: 100%;
	height: 3px;
	background-color: #777777;
}

.divider-light {
	width: 100%;
	height: 3px;
	background-color: #F4F4F4;
}

.sign-up-section {
	background-color: $gramercy-color;
	width: auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 45px;
	color: #FEFEFE;
	
	h4 {
	color: #FEFEFE;
	}
}







































