$gramercy-color: #86C9D4;


h1 {
	text-align: center;
}

h3 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 15px;	
}

.benefits-page {

	.divider {
		max-width: 900px;
		margin: 0 auto;
		margin-top: 50px
			}

	.text-area {
		max-width: 700px;
	}

	.title-section {

		padding-top: 40px;
		padding-bottom: 40px;

		h1 {
			font-size: 4em;
		}
	}
}
