.dashboard-page{
	margin-bottom: 30px;
	margin-top: -20px;
}


.bigger {
	font-size: 1.25em;
}

.smaller {
	font-size: .75em;
}

.time-left {
	padding: 5px;
}

.select-filter {
	    color: #777777;
    height: 39px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;

}