$gramercy-color: #86C9D4;

#header, #header li a {
	background-color: #F8F8F8;
	color: #777777;
	font-size: 16px;
}

.header-btn {
	margin-top: 8px;
	font-weight: bold;
	color: #777777;
	background-color: $gramercy-color;

	a {
	color: #FEFEFE;
	
	&:hover{
		color: #FEFEFE;
		}

	&:visited{
		color: #FEFEFE;
		}
	}
}

.selected {
	font-weight: 700;

}