$gramercy-color: #86C9D4;


.main {
	background-color: #F4F4F4;
}

.gramercy-color {
	color: $gramercy-color;
}

.gramercy-bg-color {
	background-color: $gramercy-color;
	border-color: $gramercy-color;

	&:hover{
		background-color: #777777;
		border-color: $gramercy-color;
	}
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;

}

h1, h2, h3, h4, h5, h6, p, ul li {
	color: #777777;
}

a {
	color: $gramercy-color;

	&:hover{
		color: #777;
	}
}


/* DEVISE PAGES */

.log-in {
	border-style: solid;
	background-color: #FEFEFE;
}

.devise-box {
	margin-top: 45px;
}

.form-signin {
  max-width: 290px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 10px;

}

/*WEB PAGES*/


.text-area {
	max-width: 900px;
	margin: 0 auto;

}

.divider {
	width: 100%;
	height: 3px;
	background-color: $gramercy-color;
}

.divider-dark {
	width: 100%;
	height: 3px;
	background-color: #777777;
}

.divider-light {
	width: 100%;
	height: 3px;
	background-color: #F4F4F4;
}

.divider-top {
	margin-top: -20px;
	width: 100%;
	height: 3px;
	background-color: #777777;
}

.title-section {
	margin-top: 0;
	background-color: $gramercy-color;
	width: auto;
	padding-top: 40px;
	padding-bottom: 45px;
	color: #FEFEFE;
	text-align: center;

	h1, h2, h3, h4 {
		color: #FEFEFE;
		text-align: center;
	}
}

.sign-up-section {
	background-color: $gramercy-color;
	width: auto;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 30px;
	color: #FEFEFE;
	
	h4 {
	color: #FEFEFE;
	margin-bottom: 20px;
	}
}

.generic-section {
	margin-top: 125px;
	text-align: center;

}

.generic-section .text-area {
		max-width: 500px;
	}


.rounded {

	$corner: 4px;

  -webkit-border-radius: $corner;
  -moz-border-radius:	 $corner;
  border-radius:		 $corner;

  border: 1px solid #ccc;

  max-width: 235px;
  height: 35px;
  padding: 10px;
}





