$gramercy-color: #86C9D4;

.payment_page {

	.divider {
		max-width: 900px;
		margin: 0 auto;
			}
}

.title-section,
.customer-worth-section,
.example-section,
.details-section{

	padding-top: 35px;
	padding-bottom: 40px;

	h1, h2, h3, h4 {
		text-align: center;
	}

	ul {
		color: #777777;
	}

	li {
		margin-bottom: 25px;
	}

	.text-area{
		max-width: 700px;
	}
}

.instagram-img {
	width: 100%;
}

.instagram-text {
}