
<div>

	<div class="divider-top"></div>

	<section class="generic-section">
		<div class="text-area">
			<h1>Step 1 of 3</h1>
			<h2><%= link_to "Authorize Instagram", "/auth/instagram?type=Brand", target: "_blank"%></h2>
			<p>Authorize your BRAND's instagram. As in, the Instagram account you would like your shoppers to tag in their Instagrams.</p>

			<%= link_to "Next", initial_settings_path, class: "btn btn-primary", style: "background-color: #86C9D4; border-color: #86C9D4" %>
		</div>
	</section>

	
</div>