<body>
    <h1>Welcome to example.com, <%= @lead.email %></h1>
    <p>
      You have successfully signed up to example.com,
      your platform is: <%= @lead.platform %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%=link_to "Gramercy", "www.gramercyapp.com" %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>