	<div class="text-area">
		<div class="how-it-works-background">
			<div class="row">
				<div class="col-xs-4 how-it-works-text-1">
					<div class="how-it-works-top">
					<p>Based on how much engagement her Instagram gets, Sarah gets some store credit and comes shopping again</p>
					</div>
				</div>
				<div class="col-xs-4 how-it-works-text-2">
					<div class="how-it-works-top">
					<h3><strong>This is Sarah</strong></h3>
					</div>
				</div>
				<div class="col-xs-4 how-it-works-text-3">
					<div class="how-it-works-top">
					<p>Sarah goes shopping on your brand's website</p>
					</div>
				</div>
			</div>


			<div class="row text-center">
				<%= image_tag "how-it-works.jpg", class: "how-it-works-img" %>
			</div>

			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<div class="how-it-works-text-4">
						<p>Sarah's friends and followers get exposure to your brand, some follow your Insta, and some even buy something themselves!</p>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-4">
					<div class="how-it-works-text-5">
					<p>Sarah tags your brand in an Insagram for her friends and followers to see</p>
					</div>
				</div>
				<div class="col-xs-4 col-xs-offset-4">
					<div class="how-it-works-text-6">
					<p>Sarah authorizes her Instagram while she waits for her purchase</p>
					</div>
				</div>
			</div>
		</div>
	</div>