	<div class="text-area">

		<div class="how-it-works-list">
			<h3><strong>This is Sarah</strong></h3>
			<%= image_tag "how-it-works.jpg", class: "how-it-works-img" %>
			<p>1. Sarah goes shopping on your brand's website</p>
			<p>2. Sarah authorizes her Instagram while she waits for her purchase</p>
			<p>3. Sarah tags your brand in an Insagram for her friends and followers to see</p>
			<p>4. Based on how much engagement her Instagram gets, Sarah gets some store credit and comes shopping again</p>
			<p>5. Sarah's friends and followers get exposure to your brand, some follow your Insta, and some even buy something themselves!</p>
		</div>
			
	</div>